body {
  background: black;
  color: #777;
  font-size: 22px;
  height: auto;
  padding-bottom: 20px;
}

#firstform {
	color: #999;
	background-color: #222;
	padding-bottom: 8px;
	padding-top: 15px;
}

#logopic {
	text-align: center;
}

.btn p {
	text-align: center;
	margin-top: 12px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 25px;
	position: relative;
	left: 40px;
	width: 120px;
	height: 20px;
	background-color: yellow;
	border: 2px solid;
    border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
	color: black;
	font-weight: bold;
}

.btn a {
	margin: 50px;
}

.content_lower {
	position: relative;
	left: 50%;
	width: 940px;
	margin-left: -470px;
}

.sidebar {
	position:relative;
	width: 300px;
	float: right;
	margin-top: 77px;
}

.sidebar li {
	display: inline-block;
	margin: 10px;
}

.sidebar h4 {
	padding-bottom: 0px;
	margin-bottom: -30px;
}

.sidebar p  {
	padding-bottom: 20px;
}

p.termine {
	font-size: 18px;
	margin-bottom: -7px;
	padding-bottom: 0px;
}

.subsection_news {
	width: 620px;
}

#socialmedia ul  li{
	position: relative;
	top: 10px;
	list-style: none;
	display: inline-block;
	margin: 10px;
	padding-bottom:5px;
}

#socialmedia ul  li img {
	-webkit-box-shadow: 5px 5px 5px  rgba(180, 180, 180, 0.59);
	-moz-box-shadow:    5px 5px 5px  rgba(180, 180, 180, 0.59);
	box-shadow:         5px 5px 5px  rgba(180, 180, 180, 0.59);
}

#news img {
	float: left;
	padding-right: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: block;
}

span.artikel  h4 {
	position: relative;
	top: -75px;
	padding-left: 5px;
	z-index: 1;
	background-color: yellow;
}

span.artikel  p  {
	position: relative;
	padding: 6px;
	top: -75px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 40px;
}

span.artikel  p , span.artikel  h4 {
	color: black;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

#hooverable:hover p,#hooverable:hover h4, #hooverable:hover img{
	opacity: 1;
    filter: alpha(opacity=100);
	/*-webkit-box-shadow: 3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	-moz-box-shadow:    3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	box-shadow:         3px -3px 18px 0px rgba(180, 180, 180, 0.59);*/
}



.container_12,
.container_16,
.container_24 {
  background-color: black;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}