body {
  background: #777;
  color: black;
  font-size: 22px;
  height: auto;
  padding-bottom: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: block;
}

#firstform {
	color: #999;
	background-color: #222; /*ingame logo farbe: #00355a*/
	padding-bottom: 8px;
	padding-top: 15px;
}

#logopic {
	text-align: center;
}

.blocktext p {
	text-align: justify;
	text-justify: inter-word;
	height: 150px;
}

.btn p {
	text-align: center;
	margin-top: 12px;
	margin-left: 45px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	text-align: center;
	width: 120px;
	height: 20px;
	background-color: yellow;
	border: 2px solid;
    border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
	color: black;
	font-weight: bold;
}

.btn a {
	color: black;
}

.content_lower {
	position: relative;
	left: 50%;
	width: 940px;
	margin-left: -470px;
}

.sidebar {
	position:relative;
	width: 300px;
	float: right;
	margin-top: 57px;
}


.sidebar ul {
	width: 300px;
}

.sidebar li {
	float: left;
	margin:0px;
	padding:0px;
	padding-bottom: 15px;
}

.sidebar li p {
	float: right;
	width: 200px;
	margin-top: 12px;
	margin-left: 6px;
	padding-left: 12px;
	padding: 6px 12px;
	background-color: yellow;
	border: 2px solid;
    border-radius: 15px;
}

.sidebar h4 {
	position: relative;
	clear: both;
	top: 0px;
	color:black;
	padding-bottom: 0px;
}

.sidebar p  {
	padding-bottom: 20px;
}

div.socialmedia {
	height: 300px;
	margin-bottom: 21px;
}

p.termine {
	font-size: 18px;
	margin-bottom: -7px;
	padding-bottom: 0px;
}

/****************************************/
.hidden {
	display: none;
}

.subsection_news {
	width: 620px;
}

.newsfeed {
	height: 1340px;
}

div.newselement {
	height: 300px;
	overflow: hidden;
	visibility: visible;
}

.newselement {
	background-color: white;
	margin-bottom: 20px;
}

.textbox {
	height: 300px;
}

.textbox p {
	position: relative;
	top: -400px;
	margin-left: 0px;
	width: 620px;
	background: rgba(255, 240, 0, 0.4);
/*     opacity: 0.7;
    filter: alpha(opacity=70); */
    -webkit-transition: all 0.7s;
	transition: all 0.7s;
	padding: 6px 6px 20px 6px;
}

p.head {
	font-size: 30px;
	height: 15px;
}

.overlay {
	position: relative;
	top:-300px;
	visibility: visible;
	z-index: 1;
	opacity: 1;
    filter: alpha(opacity=100);
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}

.newselement:hover .textbox p {
 	top: -600px;
 	background: rgba(255, 240, 0, 1);
/*  	opacity: 1;
    filter: alpha(opacity=100); */
 }
 
 .newselement:hover .overlay {
 	opacity: 0;
    filter: alpha(opacity=0);
 }
 
.timeline {
	position: relative;
	height: 42px;
}

.timeline a {
	background-color: yellow;
	margin-bottom: 10px;
	padding: 6px;
}

.timeline #older {
	float: left;
}

.timeline #newer {
	
	float: right;
	border: 2px solid;
    border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
}

/****************************************/

.gamelinks h5 {
	text-align: center;
	color:black;
	padding-bottom: 0px;
	margin: 0px 10px 10px 10px;
	background-color: yellow;
}

.square_300 img {
	height: 300px;
	margin-bottom: -62px;
}

.square_300 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -15px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 25px;
}

.square_300 p {
	position: relative;
	padding: 0px 6px 6px 6px;
	margin-top: 5px;
	margin-bottom: 0px;
	top: -20px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 44px;
}

.square_klein h4, .square_220 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -77px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 25px;
}

.square_klein p, .square_220 p {
	position: relative;
	padding: 6px;
	padding-top: 0px;
	margin-top: 5px;
	top: -82px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 44px;
}


.square_klein img {
	position: relative;
	height: 140px;
	z-index: 0;
}

div.square_klein {
	height: 160px;
}

.square_klein h4, .square_klein p, 
.square_300 h4, .square_300 p, 
.square_220 p , .square_220 h4 {
	color: black;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

div.hoverable:hover p, div.hoverable:hover h4, div.hoverable:hover img {
	opacity: 1;
    filter: alpha(opacity=100);
	/*-webkit-box-shadow: 3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	-moz-box-shadow:    3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	box-shadow:         3px -3px 18px 0px rgba(180, 180, 180, 0.59);*/
}

.greywrapper {
	background-color: #222;
	width: 100%;
	margin: 60px 0px;
	padding: 30px 0px;
}

.about_content {
	margin-top: 24px;
	color: white;
	height: 300px;
	text-align: left;
}

.pressestimmen p {
	height: 54px;
	margin-bottom: -36px;
}

.pressestimmen a {
	color: white;
}

.pressestimmen a:hover {
	color: grey;
}

.credits_content {
	text-align: center;
	color: white;
}

.credits_content p {
	height: 54px;
	margin-bottom: -36px;
	text-align: center;
}

.credits_content a {
	color: white;
}

.credits_content a:hover {
	color: grey;
}



.container_12,
.container_16,
.container_24 {
  margin-bottom: 20px;
}