body {
  background: #777;
  color: black;
  font-size: 22px;
  height: auto;
  padding-bottom: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: block;
}

h2.left {
	float: left;
	width: 600px;
	height: 40px;
}

h2.right {
	color: grey;
	text-align: right;
	margin-right: 12px;
	float: right;
	width: 200px;
	height: 40px;
}

h2.right a {
	color: #125676;
}

.header {
	width: 100%;
}

.header span {
	display: inline-block;
	float: right;
	clear: left;
	margin-right:30px;
}

.header a:hover {
	color: white;
}

#firstform {
	color: #999;
	background-color: #255870; /*ingame logo farbe: #00355a*/
	padding-bottom: 8px;
	padding-top: 15px;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

#logopic {
	text-align: center;
}

.blocktext p {
	text-align: justify;
	text-justify: inter-word;
	height: 150px;
}

.btn img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0px;
}

.btn a {
	color: black;
}

.content_lower {
	position: relative;
	left: 50%;
	width: 940px;
	margin-left: -470px;
}

.sidebar {
	position:relative;
	width: 300px;
	float: right;
	margin-top: 57px;
}


.sidebar ul {
	width: 300px;
}

.sidebar li {
	float: left;
	margin:0px;
	padding:0px;
	padding-bottom: 15px;
}

.sidebar li p {
	float: right;
	width: 200px;
	margin-top: 12px;
	margin-left: 6px;
	padding-left: 12px;
	padding: 6px 12px;
	background-color: yellow;
	border: 2px solid;
    border-radius: 15px;
}

.sidebar h4 {
	font-family: "TIBITTO_", sans-serif;
	font-size: 48px;
	position: relative;
	clear: both;
	top: 0px;
	color: #d4ca9d;
	padding-bottom: 0px;
	margin-left: 12px;
}

.sidebar p  {
	padding-bottom: 20px;
	color: #d4ca9d;
}

span.sidebox {
	display: inline-block;
	position: relative;
	background-color: rgba(143, 52, 52, 1);
	width: 300px;
	margin-bottom: 20px;
}

.sidebox a {
	color: #d4ca9d;
}

.sidebox a:hover {
	color: black;
}

div.socialmedia {
	height: 300px;
	margin-bottom: 21px;
}

.twitter-timeline {
	background-color: grey;
}

p.termine {
	font-size: 18px;
	margin: 15px, 12px -7px, 12px; 
	padding-bottom: 0px;
	
}

div.line {
	display: block;
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	width: 279px;
	border-top: 4px solid #d4ca9d;
}

/****************************************/
.hidden {
	display: none;
}

.subsection_news {
	width: 620px;
}

.newsfeed {
	height: 1340px;
}

div.newselement {
	height: 300px;
	overflow: hidden;
	visibility: visible;
}

.newselement {
	background-color: white;
	margin-bottom: 20px;
}

.textbox {
	height: 300px;
}

.textbox p {
	position: relative;
	float: left;
	top: -400px;
	margin-left: 0px;
	width: 620px;
	background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.7s;
	transition: all 0.7s;
	padding: 6px 6px 20px 6px;
}

.textbox a {
	position: relative;
	float: left;
	top: -400px;
	width: 620px;
	color: #777;
	
	background: rgba(255, 255, 255, 0.8);
	z-index: 2;
    -webkit-transition: all 0.7s;
	transition: all 0.7s;
	
	margin-top: -10px;
	padding: 0px 6px 20px 6px;
}

.textbox a:hover {
	color: #111;
}

p.head {
	font-size: 30px;
	height: 15px;
}

a.head {
	font-size: 30px;
	height: 15px;
	padding-top: 6px;
}

.overlay {
	position: relative;
	top:-300px;
	visibility: visible;
	z-index: 1;
	opacity: 1;
    filter: alpha(opacity=100);
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}

.newselement:hover .textbox p, .newselement:hover .textbox a {
 	top: -600px;
 	background: rgba(255, 255, 255, 1);
 }
 
 .newselement:hover .overlay {
 	opacity: 0;
    filter: alpha(opacity=0);
 }
 
.timeline {
	position: relative;
	height: 55px;
}

.timeline a {
	/* background-color: yellow; */
	margin-bottom: 10px;
	padding: 2px 12px 12px 6px;
}

.timeline #older {
	float: left;
}

.timeline #newer {
	float: right;
}

.timeline #older, .timeline #newer {
	background-image: url("../img/buttons/newold.png");
	background-repeat: no-repeat;
}

/****************************************/

.gamelinks h5 {
	text-align: center;
	color:black;
	padding-bottom: 0px;
	margin: 0px 10px 10px 10px;
	background-color: white;
}

.square_300 img {
	height: 300px;
	margin-bottom: -62px;
}

.square_300 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -15px;
	z-index: 1;
	background-color: white;
	font-size: 20px;
	height: 25px;
}

.square_300 p {
	position: relative;
	padding: 0px 6px 6px 6px;
	margin-top: 5px;
	margin-bottom: 0px;
	top: -20px;
	z-index: 1;
	background-color: white;
	font-size: 20px;
	height: 44px;
}

.square_klein h4, .square_220 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -77px;
	z-index: 1;
	background-color: white;
	font-size: 20px;
	height: 25px;
}

.square_klein p, .square_220 p {
	position: relative;
	padding: 6px;
	padding-top: 0px;
	margin-top: 5px;
	top: -82px;
	z-index: 1;
	background-color: white;
	font-size: 20px;
	height: 44px;
}


.square_klein img {
	position: relative;
	height: 140px;
	z-index: 0;
}

div.square_klein {
	height: 160px;
}

.square_klein h4, .square_klein p, 
.square_300 h4, .square_300 p, 
.square_220 p , .square_220 h4 {
	color: black;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

div.hoverable:hover p, div.hoverable:hover h4, div.hoverable:hover img {
	opacity: 1;
    filter: alpha(opacity=100);
	/*-webkit-box-shadow: 3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	-moz-box-shadow:    3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	box-shadow:         3px -3px 18px 0px rgba(180, 180, 180, 0.59);*/
}

.greywrapper {
	background-color: #222;
	width: 100%;
	margin: 60px 0px;
	padding: 30px 0px;
}

.about_content {
	margin-top: 24px;
	color: white;
	height: 300px;
	text-align: left;
}
.pressestimmen h4 {
	color: black;
}

.pressestimmen span {
	display:inline-block;
	height: 120px;
	margin-top: 24px;
}

.pressestimmen a {
	display: inline-block;
	margin-top: 6px;
	color: black;
	
}

.pressestimmen a:hover {
	color: grey;
}

.creditsWrapper {
	background-color: #7da9a5;
	background-image: url("../img/lowerWrapper.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 647px;
	margin: 0px 0px;
	padding: 30px 0px;
}

.credits_content {
	text-align: left;
	color: white;
}

.credits_content h4 {
	position: relative;
	padding-top: 40px;
	font-size:20px;
}

.credits_content p {
	position: relative;
	margin-top: -10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}


.credits_content span {
	display: inline-block;
	margin-top: 0px;
	height: 120px;
	text-align: left;
}

.credits_content a {
	color: white;
}

.credits_content a:hover {
	color: grey;
}



.container_12,
.container_16,
.container_24 {
  margin-bottom: 20px;
}