body {
  background: #777;
  color: black;
  font-size: 22px;
  height: auto;
  padding-bottom: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

p {
  overflow: hidden;
  padding: 10px 0;
  text-align: block;
}

#firstform {
	color: #999;
	background-color: #222;
	padding-bottom: 8px;
	padding-top: 15px;
}

#logopic {
	text-align: center;
}

.blocktext p {
	text-align: justify;
	text-justify: inter-word;
	height: 180px;
}

.btn p {
	text-align: center;
	margin-top: 12px;
	margin-left: 45px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	text-align: center;
	width: 120px;
	height: 20px;
	background-color: yellow;
	border: 2px solid;
    border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
	color: black;
	font-weight: bold;
}

.btn a {
	color: black;
}

.content_lower {
	position: relative;
	left: 50%;
	width: 940px;
	margin-left: -470px;
}

.sidebar {
	position:relative;
	width: 300px;
	float: right;
	margin-top: 57px;
}


.sidebar ul {
	position: relative;
	padding: 45px 2px;
}

.sidebar li {
 	display: inline;
	vertical-align: center;
	margin-left: 3px;
}

.sidebar h4 {
	text-align: center;
	color:black;
	padding-bottom: 0px;
	margin-bottom: -30px;
	background-color: yellow;
}

.sidebar p  {
	padding-bottom: 20px;
}

div.socialmedia {
	height: 343px;
}

p.termine {
	font-size: 18px;
	margin-bottom: -7px;
	padding-bottom: 0px;
}

.subsection_news {
	width: 620px;
}

div.newselement {
	height: 300px;
	overflow: hidden;
}

.newselement {
	background-color: #222;
	margin-bottom: 20px;
	padding-bottom: 0px;
}

.textbox p {
	position: relative;
	top: -100px;
	height: 120px;
	margin-left: 0px;
	width: 620px;
	background-color: yellow;
	opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.7s;
	transition: all 0.7s;
}

div.textbox::after {
	content: url(../img/trans620x300.png);
	position: relative;
	top:-580px;
}

.newselement:hover .textbox p {
 	top: -300px;
 	opacity: 1;
    filter: alpha(opacity=100);
    padding-bottom: 20px;
 }

.gamelinks h5 {
	text-align: center;
	color:black;
	padding-bottom: 0px;
	margin: 0px 10px 10px 10px;
	background-color: yellow;
}

.square_300 img {
	height: 300px;
	margin-bottom: -62px;
}

.square_300 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -15px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 25px;
}

.square_300 p {
	position: relative;
	padding: 0px 6px 6px 6px;
	margin-top: 5px;
	margin-bottom: 0px;
	top: -20px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 44px;
}

.square_klein h4, .square_220 h4 {
	color: black;
	position: relative;
	padding: 3px 6px 0px 6px;
	top: -77px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 25px;
}

.square_klein p, .square_220 p {
	position: relative;
	padding: 6px;
	padding-top: 0px;
	margin-top: 5px;
	top: -82px;
	z-index: 1;
	background-color: yellow;
	font-size: 20px;
	height: 44px;
}


.square_klein img {
	position: relative;
	height: 140px;
	z-index: 0;
}

div.square_klein {
	height: 160px;
}

.square_klein h4, .square_klein p, 
.square_300 h4, .square_300 p, 
.square_220 p , .square_220 h4 {
	color: black;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

div.hoverable:hover p, div.hoverable:hover h4, div.hoverable:hover img {
	opacity: 1;
    filter: alpha(opacity=100);
	/*-webkit-box-shadow: 3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	-moz-box-shadow:    3px -3px 18px 0px rgba(180, 180, 180, 0.59);
	box-shadow:         3px -3px 18px 0px rgba(180, 180, 180, 0.59);*/
}

/* #bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
  transform: translateZ(-1px);
  
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
} */

.about_content {
	color: white;
}


.container_12,
.container_16,
.container_24 {
  margin-bottom: 20px;
}